[Unit]
Description=Start a reverse tunnel for MGMT
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python2 /usr/local/bin/connect.py
WorkingDirectory=/home/pi/
TimeoutSec=10
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
ExecStop=/usr/local/bin/reverse-tunnel-stop.sh
RestartSec=10
RuntimeMaxSec=43200

[Install]
WantedBy=multi-user.target
